[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "composer install --no-dev --prefer-dist --no-interaction --optimize-autoloader",
  "npm ci --include=dev --no-audit --no-fund --legacy-peer-deps"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "php artisan serve --host=0.0.0.0 --port=$PORT"

[variables]
NPM_CONFIG_PRODUCTION = "false"
